body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20px 20px 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 500px;
    width: 500px;
    border: 5px solid blue;
}

.squares {
    background: #ff4e2f;
    border: 1px solid black;
    box-sizing: border-box;
}

.squares.black {
    background: black;
}

button {
    font-weight: 500;
    display: flex;
    justify-content: center;
}





